body {
  text-align: center;
  background-color: #C8E2CA;
}

#title {
  font-weight: bold;
  font-size: 25px;
  margin: 20px 0 5px 0;
}
  
  #description {
    font-size: 18px;
  }
  
  #tooltip {
    padding: 10px; 
    background-color: white;
    margin: 30px;
    position: absolute;
    font-weight: bold;
    border: solid;
    border-radius: 5px;
  }
